<div class="close-modal close-help-modal">
	<i class="far fa-times-circle"></i>
</div>

<div class="container-fluid nucleum-black-3 help-content-container">

	<div class="help-img-container">
		<img src="images/NucleumLogo.png">
	</div>


	<p> ¿Quieres iniciar tu propia empresa?¿Interesado en hacer negocios?
<strong style="font-weight: bold; font-size: 1.3em">Nucleum Business</strong> es una serie de conferencias en donde los expositores son empresas exitosas dispuestas a contar su experiencia sobre cómo lograron convertirse en líderes del desarrollo de Ciencia y Tecnología. Tendrás la oportunidad de estar en contacto directo con empresas de Biotecnología, Nanotecnología, Bioenergía y conocer puntos clave sobre cómo hacer negocios.
"Start ups + café + networking = Nucleum Business"  
La mejor manera de hacer networking está en el Congreso Nucleum. 
	</p>
</div>