			<!-- jQuery -->
		<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
  		<!-- <script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script> -->
			<!-- Transit (http://ricostacruz.com/jquery.transit/#top) -->
<!-- 		<script type="text/javascript" src="http://ricostacruz.com/jquery.transit/jquery.transit.min.js"></script> -->
			<!-- Slick Slider -->
		<!-- <script type="text/javascript" src="slick/slick.min.js"></script> -->
			<!-- Custom Javascript file -->
		<script src="/scripts/basic-theme.js"></script>
		<script src="/scripts/slider.js"></script>
		<!-- Scroll Reveal -->
		<!-- <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script> -->
		<!-- <script src="https://unpkg.com/scrollreveal@beta/dist/scrollreveal.min.js"></script> -->



	</body>
</html>