<% visits.forEach( (visit) => { %>
<div class="jumbotron">
	<div class="row">
		<div class="col-xs-12">
			<div class="container">
				<div class="row">
					<h1 class="pull-left"> <%= visit.name %> </h1>
				</div>
				<div class="row">
					<% visit.schedules.forEach( (schedule) => { %>
						<h4 style="text-align: left"> <%= schedule %> </h4>
					<% })%>
				</div>
				<br>
			</div>
		</div>
		<div class="col-xs-12">
			<p class="pull-left text-justify"> <%= visit.body %></p>
		</div>
	</div>
</div>
<%})%>

