  <nav class="nav nav-top navbar-fancy">
	<div id="nav-back-header">
		<% if(!homepage){ %>
				<a href="/">
					<i class="fa fa-angle-left" aria-hidden="true" style="font-weight: bold; font-size: 1.2em;"></i> 
					Homepage
				</a>
		<% } %>
	</div>
	<ul>
		<li><a href="/panelists">Panelistas</a></li>
		<li><a href="/workshops">Talleres</a></li>
		<li><a href="/visits">Visitas</a></li>
	</ul>
  </nav>

  <nav class="nav nav-bottom navbar-fancy">
	<ul>
		<li style="width: 33.3333333%"><a href="/panelists">Panelistas</a></li>
		<li style="width: 33.3333333%"><a href="/workshops">Talleres</a></li>
		<li style="width: 33.3333333%"><a href="/visits">Visitas</a></li>
	</ul>
  </nav>


  <!-- horarios -->

  <!-- boletos -->

  <!-- visitas -->
