  <nav class="nav nav-top navbar-black">
	<div id="nav-back-header">
		<% if(!homepage){ %>
				<a href="/">
					<i class="fa fa-angle-left" aria-hidden="true" style="font-weight: bold; font-size: 1.2em;"></i> 
					Homepage
				</a>
		<% } %>
	</div>
	<ul>
		<li><a href="/schedules">Horarios</a></li>
		<li><a href="https://www.ticketopolis.com/congresonucleum2018/tickets.aspx" target="_blank">Boletos</a></li>
		<li><a href="/foreigners">Foráneos</a></li>
	</ul>
  </nav>

  <nav class="nav nav-bottom navbar-black">
	<ul>
		<li style="width: 33.3333333%"><a href="/schedules">Horarios</a></li>
		<li style="width: 33.3333333%"><a href="https://www.ticketopolis.com/congresonucleum2018/tickets.aspx" target="_blank">Boletos</a></li>
		<li style="width: 33.3333333%"><a href="/foreigners">Foráneos</a></li>
	</ul>
  </nav>
