<nav class="nav nav-back navbar-fancy">
    <div id="nav-back-header">
        <a href="/">
            <i class="fa fa-angle-left" aria-hidden="true" style="font-weight: bold; font-size: 1.2em;"></i> 
            Back to homepage
        </a>
    </div>
</nav>