.businessm-content-container {
	padding: 20px;
	color: white;
	max-width: 800px;
}

.businessm-content-container img {
	display: block;
	margin: auto;
}

.help-content-container {
	color: white;
	display: block;
	margin: auto;
	max-width: 700px;
	padding: 20px;
}

.help-content-container p {
	display: block;
	margin: auto;
	/*margin-top: 250px;*/
	/*margin-bottom: 250px;*/
/*	margin-left: 10px;
	margin-right: 10px;*/
	margin-bottom: 50px;
	margin-top: 50px;
	/*margin: 70px;*/
	text-align: center;
	max-width: 600px;
	font-size: 1.3em;
}


.help-img-container {
	display: block;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	max-height: 300px;
	max-width: 300px;
}

.help-img-container img{
    display: block;
    /*height: 100%;*/
    width: 100%;
}

