html {
    /*background-image: url("http://sf.co.ua/14/01/wallpaper-1681949.jpg");*/
    /*background-image: url("../images/background-image-test.png");*/
    background-image: url("../../images/nucleum-bg.jpg");
}
/*Logo*/
#NucleumLogo {
    display: block;
    max-height: 100%;
    margin: auto;
    max-width: 100%;
}
.logo-content {
    margin: auto;
    height: 100vh;
    -webkit-height: 100vh;
    padding-top: 10%;
    padding-bottom: 15%;
    padding-right: 10px;
    padding-left: 10px;
}



/*About*/   
.about-text-container {
    padding: 40px;
    font-size: 1.2em;
}
.about-text-container p, .about-text-container h2 {
    text-align: center;
    color: white;
}
.about-text-container hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid #46D4D5;
    margin: auto;
    margin-bottom: 2em;
    margin-top: 2em;
    padding: 0; 
    width: 150px;
}

/*Panelists*/
.panelists-img-container {
    padding: 40px;   
}
.panelists-img-container img{
    margin: auto;
    height: 432px;
}
.panelists-header-container {
    margin-top: 40px;
    color: white;
}

.panelists-overlay {
    display: block; 
    background-color: rgba(0,0,0,0);
    width: 100%; 
    height: 100%;
    z-index:1; 
    position: absolute;

    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
}

.panelists-overlay:hover {
    background-color: rgba(255,255,255,0.1);

    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
}

.panelists-content-container {
    position: relative
}

.panelists-content-container p{
    color: rgb(180,180,180);
}

.panelists-content-container .row {
    height: 400px;
    margin-bottom: 40px;
    color: white;
}


.panelists-content-container .col-1-2,
.panelists-content-container .col-1-1{
    display: block; 
    height: 33.333333%;
    padding: 10px;
    font-size: 0.9em;
}

.panelists-content-container .col-1-2 h3,
.panelists-content-container .col-1-1 h3{
    font-size: 1.1em;
}


.last-panelist {
    display: block; 
    width: 50%; 
    margin: auto
}

@media screen and (max-width: 1200px){
    .panelists-content-container .col-1-2,
    .panelists-content-container .col-1-1{
        font-size: 0.85em;
    }

    .panelists-content-container .col-1-2 h3,
    .panelists-content-container .col-1-1 h3{
        font-size: 1em;
    }
}

@media screen and (max-width: 992px){
    .panelists-content-container .col-1-2,
    .panelists-content-container .col-1-1{
        font-size: 1em;
    }
}

@media screen and (max-width: 700px){
    .panelists-content-container .col-1-2,
    .panelists-content-container .col-1-1{
        font-size: 0.95em;
    }
    .panelists-content-container .col-1-2 h3,
    .panelists-content-container .col-1-1 h3{
        font-size: 0.95em;
    }
}

@media screen and (max-width: 490px){
    .panelists-content-container .col-1-2,
    .panelists-content-container .col-1-1{
        font-size: 0.85em;
    }
}

@media screen and (max-width: 445px){
    .panelists-content-container .col-1-2,
    .panelists-content-container .col-1-1{
        font-size: 0.8em;
    }
    .panelists-content-container .col-1-2 h3,
    .panelists-content-container .col-1-1 h3{
        font-size: 0.85em;
    }
}

@media screen and (max-width: 360px){
    .panelists-content-container .col-1-2,
    .panelists-content-container .col-1-1{
        font-size: 0.75em;
    }
}

@media screen and (max-width: 335px){
    .panelists-content-container .col-1-2,
    .panelists-content-container .col-1-1{
        font-size: 0.67em;
    }
}

@media screen and (max-width: 280px){
    .panelists-content-container .col-1-2,
    .panelists-content-container .col-1-1{
        font-size: 0.65em;
    }
}

@media screen and (max-width: 250px){
    .panelists-content-container .col-1-2,
    .panelists-content-container .col-1-1{
        font-size: 0.57em;
    }
}

@media screen and (max-width: 992px){
    .panelists-img-container {display: none;}
    #change-width {width: 100%}
}
@media screen and (max-width: 767px){

    .panelists-header-container {
        margin-left: 5px;
        margin-right: 5px;        
    }
    .panelists-content-container {
        margin-left: 5px;
        margin-right: 5px;
    }
}

/* Business */
.business-header-container {
    margin-top: 40px;
    color: white;
}

.business-overlay {
    display: block; 
    background-color: rgba(0,0,0,0);
    width: 100%; 
    height: 100%;
    z-index:1; 
    position: absolute;

    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
}

.business-overlay:hover {
    background-color: rgba(255,255,255,0.1);

    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
}

.business-content-container{
    margin-top: 50px;
    margin-bottom: 20px;
    position: relative;
}

.business-content-container table {
    color: white;
    margin: auto;
    margin-bottom: 20px;
    height: 110px;
    border-collapse: collapse;

    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
}

.business-content-container tr {
    height: 100%;
}

.business-content-container td {
    vertical-align: middle;
    padding: 10px;
}




.business-content-container table:first-of-type, 
.business-content-container table:nth-of-type(3) {
    width: 76%;
}
.business-content-container table:nth-of-type(2) {
    width: 95%;
}

.business-content-container table:first-of-type td{
    width: 25%;
}

@media screen and (max-width: 767px){
    .business-header-container {
        padding-left: 5px;
        padding-right: 5px;
    }
    .business-content-container td:first-child {display: none;}
    .business-content-container table:first-of-type td{
        width: 33.333333%;
    }

}
@media screen and (max-width: 597px){
    .business-content-container td:last-child {display: none;}
    .business-content-container table:first-of-type td{
        width: 50%;
    }
}


/*Workshops*/
.workshops-header-container {
    margin-top: 40px;
    color: white;
}


.workshops-overlay:nth-of-type(1), 
.workshops-overlay:nth-of-type(3) {
    display: block; 
    background-color: rgba(0,0,0,0);
    width: 76%; 
    height: 110px;
    margin-left: 12%;
    z-index:1; 
    position: absolute;

    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
}
 
.workshops-overlay:nth-of-type(2) {
    display: block; 
    background-color: rgba(0,0,0,0);
    width: 95%; 
    height: 110px;
    margin-left: 2.5%;
    z-index:1; 
    position: absolute;

    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
}
 
.workshops-overlay:hover {
    background-color: rgba(255,255,255,0.1);

    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
}


.workshops-content-container{
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
}

.workshops-content-container table {
    margin: auto;
    margin-bottom: 20px;
    height: 110px;
    border-collapse: collapse;
    color: white;
}


.workshops-content-container tr {
    height: 100%;
}

.workshops-content-container td {
    vertical-align: middle;
    padding: 10px;
}

.workshops-content-container table:first-of-type, 
.workshops-content-container table:nth-of-type(3) {
    width: 76%;
}
.workshops-content-container table:nth-of-type(2) {
    width: 95%;
}

.workshops-content-container table:first-of-type td, 
.workshops-content-container table:nth-of-type(3) td{
    width: 25%;
}
.workshops-content-container table:nth-of-type(2) td{
    width: 20%;
}


@media screen and (max-width: 767px){
    .workshops-header-container {
        padding-left: 5px;
        padding-right: 5px;
    }
    .workshops-content-container td:first-child {display: none;}
    .workshops-content-container table:first-of-type td, 
    .workshops-content-container table:nth-of-type(3) td{
        width: 33.333333%;
    }
    .workshops-content-container table:nth-of-type(2) td{
        width: 25%;
    }
}
@media screen and (max-width: 597px){
    .workshops-content-container td:last-child {display: none;}
    .workshops-content-container table:first-of-type td, 
    .workshops-content-container table:nth-of-type(3) td{
        width: 50%;
    }
    .workshops-content-container table:nth-of-type(2) td{
        width: 33.3333%;
    }
}

/*Visits*/

.visits-header-container {
    margin-top: 40px;
    color: white;
}

.visits-overlay {
    display: block; 
    background-color: rgba(0,0,0,0);
    width: 76%; 
    height: 100%;
    margin-left: 12%;
    z-index:1; 
    position: absolute;

    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
}

.visits-overlay:hover {
    background-color: rgba(255,255,255,0.1);

    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
}

.visits-content-container{
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
}

.visits-content-container table {
    margin: auto;
    margin-bottom: 20px;
    height: 110px;
    border-collapse: collapse;

    color: white;

    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
}

.visits-content-container table:hover {    
    color: #ffe4d8;

    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
}


.visits-content-container tr {
    height: 100%;
}

.visits-content-container td {
    vertical-align: middle;
    padding: 10px;
}

.visits-content-container table:first-of-type, 
.visits-content-container table:nth-of-type(3) {
    width: 76%;
}
.visits-content-container table:nth-of-type(2) {
    width: 95%;
}

.visits-content-container table:first-of-type td{
    width: 25%;
}

@media screen and (max-width: 767px){
    .visits-header-container {
        padding-left: 5px;
        padding-right: 5px;
    }
    .visits-content-container td:first-child {display: none;}
    .visits-content-container table:first-of-type td{
        width: 33.333333%;
    }

}
@media screen and (max-width: 597px){
    .visits-content-container td:last-child {display: none;}
    .visits-content-container table:first-of-type td{
        width: 50%;
    }
}


/*Contact*/
.contact-msg-container {
    padding-top: 40px;  
    padding-right: 40px;  
    padding-left: 10px;  
    padding-bottom: 10px; 
    height: 242px;
}
.contact-msg-container textarea{
    margin: auto;
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: 1px solid white;
}
.contact-header-container {
    margin-top: 40px;
    color: white;
    margin-right: 10px;
}
.contact-form-container {
    margin-right: 10px;
}
.contact-form-container .row {
    margin-bottom: 10px;
    color: gray;
}
.contact-form-container input {
    width: 100%;
    height: 33px;
    border-radius: 5px;
    border: 1px solid white;
    margin-bottom: 10px;
    margin-top: 10px;
}
.contact-form-container input:first-of-type {
    margin-top: 20px;
}

.contact-form-container input:last-of-type {
    margin-bottom: 0px;
}

#contact-send-btn {
    height: 3em;
    border-radius: 5px;
    border: 1px solid white;
    display: block;
    margin: auto;
    margin-bottom: 17px;
    margin-top: 5px;
    background-color: white;
    width: 200px;
    cursor: pointer;
    color: gray;

    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
}

#contact-send-btn:hover{
    color: white;
    background-color: #F9904E;
    border-color: #F9904E;

    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
}


@media screen and (max-width: 662px){
    #contact-hdr-change-width {width: 100%;}
    #contact-msg-change-width {width: 100%;}

    .contact-header-container {
        margin-right: 0px;
    }
    .contact-form-container {
        margin-right: 0px;
    }
    .contact-msg-container {
        padding-right: 0px;  
        padding-left: 0px;  
        padding-top: 10px;
        height: 150px;
    }
}

/*Google Maps*/   
#map {
    height: 400px;
    width: 100%;
}

@media screen and (max-width: 662px){
    #map { height: 250px; }
}





