
.panelistm-info-container {
    padding: 20px;
	color: white;
}
.panelistm-info-container h1,
.panelistm-info-container h2{
	text-align: left;
}

.panelistm-info-container h2{
	color: gray;
}

.panelistm-info-container p{
	margin-top: 20px;
	font-size: 0.9em;
}

.panelistm-info-container p:nth-of-type(3){
	color: gray;
}
.panelistm-img-container {
	padding: 5px;
}

.panelistm-img-container img {
	margin: auto;
	display: block;
	width: 300px;
}
@media screen and (min-width: 1001px){
	.panelistm-img-container img {
		float: right;
	}
}

@media screen and (max-width: 1000px){
    .panelistm-info-container {
    	width: 100%;
    }
    .panelistm-img-container {
    	width: 100%;
    	padding-bottom: 20px;
    	padding-left: 10px;
    	padding-right: 10px;
    }
/*    .panelistm-img-container img {
		margin: auto;
	}*/
}