
.panelistm-info-container {
    padding: 20px;
	color: white;
}

.panelistm-img-container {
	padding: 5px;
}

.panelistm-img-container img {
	margin: auto;
	display: block;
	width: 300px;
}
@media screen and (min-width: 801px){
	.panelistm-img-container img {
		float: right;
	}
}

@media screen and (max-width: 800px){
    .panelistm-info-container {
    	width: 100%;
    }
    .panelistm-img-container {
    	width: 100%;
    	padding-bottom: 20px;
    	padding-left: 10px;
    	padding-right: 10px;
    }
/*    .panelistm-img-container img {
		margin: auto;
	}*/
}