html,body {
	margin: 0;
	padding: 0;
}


.slider-wrapper {
	margin: auto;
	width: 405px;
	height: 405px;
	position: relative;
}

.slide {
	position: absolute;
	opacity: 0;
	transition: opacity 3s linear;
}

.slider-wrapper > .slide:first-child {
	opacity: 1;
}
