
<!DOCTYPE html>
<html>
	<head>
		<title>Congreso Nucleum 2018</title>
		<!-- For displaying mexican accents and shit -->	
			<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
			<meta charset="utf-8" />
		<!-- Fonts and icons -->
			<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" /> 
			<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
			<link rel="shortcut icon" type="image/png" href="images/nucleum-icon-orange.png">

		<!-- Stylesheets -->
			<link rel="stylesheet" type="text/css" href="/stylesheets/basic-theme.css">
			<link rel="stylesheet" type="text/css" href="/stylesheets/responsive-grid.css">

			<!-- <link rel="stylesheet" type="text/css" href="/stylesheets/modals.css"> -->
			<link rel="stylesheet" href="/stylesheets/main.css">
			<link rel="stylesheet" href="/stylesheets/schedules/schedules.css">
			<link rel="stylesheet" href="/stylesheets/nucleum-colors.css">

	</head>
	<body>

		<% include partials/navbar %>
		<% include partials/navbar-back %>

		<div class="container-body">
					<!-- <% include partials/navbar %> -->

			<div class="row">
				<div class='col-1-1'>
					<div class="jumbotron nucleum-black-3">
						<div class="container schedules-content-container">
							<div class="schedules-header-container nucleum-blue-1">
								<h1 style="text-align: center">Próximamente</h1>
							</div>
							<!-- <img class="img-responsive" src="images/schedules/schedule-test.png"> -->
						</div>			
					</div> <!-- .jumbotron -->
				</div> <!-- .col-1-1 -->
				<div style="display: block; height: 1000px; width: 20px;"></div>
<!-- 				<div class='col-1-1'>
					<div class="jumbotron nucleum-black-2">
						<div class="container schedules-content-container">
							<div class="schedules-header-container nucleum-blue-1">
								<h1>Nucleum Business</h1>
							</div>
							<img class="img-responsive" src="images/schedules/schedule-test.png">
						</div>			
					</div> 
				</div> 
				<div class='col-1-1'>
					<div class="jumbotron nucleum-black-3">
						<div class="container schedules-content-container">
							<div class="schedules-header-container nucleum-blue-1">
								<h1>Conferencias</h1>
							</div>
							<img class="img-responsive" src="images/schedules/schedule-test.png">
						</div>			
					</div>
				</div>  -->
			</div>
 		<% include partials/footer-view %>
		</div>
<!-- <% include partials/footer-view %> -->



	</body>
</html>