
<!DOCTYPE html>
<html>
	<head>
		<title>Congreso Nucleum 2018</title>
		<!-- For displaying mexican accents and shit -->	
			<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
			<meta charset="utf-8" />
		<!-- Fonts and icons -->
			<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" /> 
			<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
		<!-- Stylesheets -->
			<link rel="stylesheet" type="text/css" href="/stylesheets/basic-theme.css">
			<link rel="stylesheet" type="text/css" href="/stylesheets/responsive-grid.css">

			<link rel="stylesheet" type="text/css" href="/stylesheets/modals.css">
			<link rel="stylesheet" href="/stylesheets/main.css">
			<link rel="stylesheet" href="/stylesheets/foreigners.css">
			<link rel="stylesheet" href="/stylesheets/nucleum-colors.css">

	</head>
	<body>

		<% include partials/navbar %>
		<% include partials/navbar-back %>

		<div class="container-body">
			<div class="container">
				<div class="foreigners-content-container">
					<h1>Conferencias</h1>
					<img class="img-responsive" src="/images/schedule-sample.png">

				</div>
			</div>
		</div>









	</body>
</html>