<% include partials/header %>
<% include partials/navbar %>

<% include partials/navbar-back %>


<div class="container-body">
    <div class="container" style="max-width: 800px;">
        <% include partials/modalWorkshops %>
    </div>
</div>

<% include partials/footer %>

