.today-content-container {
	height: 250px;
	color: white;

	-webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
}

.today-content-container:hover {

	color: #fff6db;

	-webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
}

.today-content-container i{
	font-size: 5em;
	margin-top: 40px;
	margin-bottom: 40px;
}

.forecast-content-container {
	color: white;
}

.forecast-content-container > div {
	width: 16.666%;
	float: left;

	-webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
}

.forecast-content-container > div:hover {
	color: #ffeeb5;

	-webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
}

.weekday-content-container {

}

.weekday-content-container h3{
	margin-top: 20px;
}

.weekday-content-container i{
	margin-top: 50px;
	font-size: 3em;
}

.weekday-content-container p:first-of-type{
	margin-top: 50px;
}

.weekday-content-container p:last-of-type{
	margin-bottom: 15px;
}

/*@media screen and (max-width: 749px) {
  .weekday-content-container:first-of-type {
    display: none;
  }
}*/


@media screen and (max-width: 750px) {
  .weather-content-container .col-1-3 {
	width: 44.45%;
  }
  .weather-content-container .col-2-3 {
	width: 55.55%;
  }
  div.weekday-content-container:first-of-type {
    display: none;
  }
  div.weekday-content-container {
  	width: 20%;
  }
}

@media screen and (max-width: 650px) {
  .weather-content-container .col-1-3 {
	width: 40%;
  }
  .weather-content-container .col-2-3 {
	width: 60%;
  }
  div.weekday-content-container:last-of-type {
    display: none;
  }
  div.weekday-content-container {
  	width: 25%;
  }
}


@media screen and (max-width: 570px) {
  .weather-content-container .col-1-3 {
	width: 45%;
  }
  .weather-content-container .col-2-3 {
	width: 55%;
  }
  div.weekday-content-container:nth-of-type(5) {
    display: none;
  }
  div.weekday-content-container {
  	width: 33.33%;
  }
}

@media screen and (max-width: 500px) {
  	.weather-content-container .col-1-3 {
		width: 100%;
  	}
  	.weather-content-container .col-2-3 {
		width: 100%;
  	}
  	div.weekday-content-container:nth-of-type(5) {
    	display: block;
  	}
  	div.weekday-content-container {
  		width: 25%;
  	}

	.today-content-container {
		height: 200px;
	}
	.today-content-container i{
		font-size: 5em;
		margin-top: 25px;
		margin-bottom: 5px;
	}

	.weekday-content-container h3{
		margin-top: 10px;
	}

	.weekday-content-container i{
		margin-top: 30px;
		font-size: 2em;
	}

	.weekday-content-container p:first-of-type{
		margin-top: 20px;
	}

	.weekday-content-container p:last-of-type{
		margin-bottom: 15px;
	}
}

@media screen and (max-width: 350px) {

  div.weekday-content-container:nth-of-type(5) {
    display: none;
  }
  div.weekday-content-container {
  	width: 33.33%;
  }
}


