html {
    background-image: url("http://sf.co.ua/14/01/wallpaper-1681949.jpg");
    /*background-image: url("/images/bgimg.jpg");*/
    background-size: cover;
    height: 100%;
}
body {
    font-family: 'Montserrat', Geneva, Trebuchet MS, sans-serif;
    height: 100%;
}
.row {
    margin-top: 0px;
}