.nucleum-blue-1 {
	background-color: #38ACAC !important;
}

.nucleum-blue-2 {
	background-color: #3FC1C1 !important;
}

.nucleum-blue-3 {
	background-color: #46D4D5 !important;
}

.nucleum-orange-1 {
	background-color: #E96F3C !important;
}

.nucleum-orange-2 {
	background-color: #F37F44 !important;
}

.nucleum-orange-3 {
	background-color: #F9904E !important;
}

.nucleum-green-1 {
	background-color: #82B238 !important;
}

.nucleum-green-2 {
	background-color: #94C840 !important;
}

.nucleum-green-3 {
	background-color: #A8DC49 !important;
}

.nucleum-gray-1 {
	background-color: #E6E6E6 !important;
}

.nucleum-gray-2 {
	background-color: #EEEEEE !important;
}

.nucleum-gray-3 {
	background-color: #F4F4F4 !important;
}

.nucleum-yellow-1 {
	background-color: #FFDA41 !important;
}
