.maps-content-container {
	color: white;
	text-align: center;
}

.maps-content-container img {
	width: 100%;
}

.maps-content-container p {
	margin-bottom: 15px;
}


.maps-img-container {
	display: block;
	padding-left:10px; 
	padding-right:10px; 
	margin: auto;
	max-width: 300px;
}

@media screen and (max-width: 750px) {
	.maps-content-container .col-1-3, .maps-content-container .col-2-3 {
		width: 100%
	}

	.maps-content-container p {
		margin-bottom: 10px;
	}
}



@media screen and (max-width: 550px) {
	.maps-content-container #map {
		height: 250px !important;
	}
}

@media screen and (max-width: 350px) {
	.maps-content-container #map {
		height: 200px !important;
	}
}
