<% include ../partials/header %>
<% include ../partials/navbar %>
<% include ../partials/navbar-back %>


<div class="container-body">
    <div class="container" style="max-width: 800px;">
        <% include block0-Panelists.ejs %>
    </div>
</div>

<% include ../partials/footer %>

