
<div class="row" id="block3">
  <div class='col-1-1'>
  	<div class="container">
  		<div class="visits-header-container">
  			<div class="container-fluid nucleum-blue-1tr">
				<h3 class="text-center">Visitas</h3>
			</div>
  		</div>

      <div class="visits-content-container text-center">
        <div class="visits-overlay open-visits-modal"></div>
        <table>
          <tr>
            <td class="nucleum-black-3"> <%= visits[0].name%></td>
            <td class="nucleum-black-2"> <%= visits[1].name%></td>
            <td class="nucleum-black-1"> <%= visits[2].name%></td>
            <td class="nucleum-black-2"> <%= visits[3].name%></td>
          </tr>
        </table>

      </div>

      <!-- The Modal -->
      <div id="visits-modal" class="modal">

        <!-- Modal content -->
        <div class="modal-content-container container close-visits-modal">
          <% include ../modals/modal-Visits %>
        </div>

      </div>

  	</div>
  </div>
</div>