
<div class="row nucleum-dark" id="block3">
  <div class='col-1-1'>
  	<div class="container">
  		<div class="business-header-container">
  			<div class="container-fluid nucleum-blue-1tr">
				  <h3 class="text-center">Nucleum Business</h3>
			  </div>
  		</div> <!-- .business-header-container -->
      <div class="business-content-container text-center">
        <div class="business-overlay open-business-modal"></div>
        <table>
          <tr>
            <td> <%= business[0].name%></td>
      			<td> <%= business[1].name%></td>
      			<td> <%= business[2].name%></td>
      			<td> <%= business[3].name%></td>
          </tr>
        </table>
<!--         <div id="open-help-modal">
       	  ¿Nucleum Business?
        </div> -->
      </div> <!-- .business-content-container -->
      <div id="open-help-modal">
        ¿Nucleum Business?
      </div>
      <div id="help-modal" class="modal">
        <div class="modal-content-container container close-help-modal">
          <% include ../modals/modal-Help %>
        </div>
      </div> <!-- .modal -->
      <div id="business-modal" class="modal">
        <div class="modal-content-container container close-business-modal">
          <% include ../modals/modal-Business %>
        </div>
      </div> <!-- .modal -->
  	</div>
  </div>
</div>