<div class="row nucleum-yellow-1" id="block7">

	<div class="col-1-1">
		<div class="container footer-content-container">
			<div class="row">
				<div class="col-1-4">
					<h3>nucleum.science@gmail.com</h3>
					<h3><a href="#">ticketopolis.com</a></h3>
				</div>
				<div class="col-1-4">
					<h3><a href="#">Aviso legal</a></h3>
					<h3><a href="#">Foráneos</a></h3>
				</div>
				<div class="col-1-4">
					<!-- <h3>Place some info here</h3> -->
				</div>
				<div class="col-1-4">
					<!-- <h3>Place some info here</h3> -->
				</div>
			</div>
		</div>
	</div>
</div>