<!-- Trigger/Open The Modal -->


<div class="row" id="block3">
  <div class='col-1-1'>
  	<div class="container">
  		<div class="workshops-header-container">
  			<div class="container-fluid nucleum-blue-3">
				<h3 class="text-center">Talleres</h3>
			</div>
  		</div>

      <div class="workshops-content-container text-center">

        <table>
          <tr> 
            <td class="nucleum-gray-3">Producción de cerveza artesanal</td>
            <td class="nucleum-gray-2">Elaboración de crema de avellana</td>
            <td class="nucleum-gray-1">Cosméticos naturales</td>
            <td class="nucleum-gray-2">Pop!: Extrusión de Cereal</td>
          </tr>
        </table>


        <table>
          <tr>
            <td class="nucleum-gray-3">Producción de nylon</td>
            <td class="nucleum-gray-2">Gastronomía Molecular</td>
            <td class="nucleum-gray-1">Culinology</td>
            <td class="nucleum-gray-2">Elaboración de Licor de Crema</td>
            <td class="nucleum-gray-3">Sistemas Hidropónicos</td>
          </tr>
        </table>

        <table>
          <tr>
            <td class="nucleum-gray-2">Bioimpresión de Órganos: Alcances y Realidades</td>
            <td class="nucleum-gray-1">Química forense</td>
            <td class="nucleum-gray-2">Extracción de un Biocatalizador</td>
            <td class="nucleum-gray-3">Herramientas Bioinformáticas para el análisis de proteínas</td>
          </tr>
        </table>

      </div>




<!--   		<div class="workshops-content-container text-center">
  			<div class="row">
          <div class="col-1-4 nucleum-gray-3">Producción de cerveza artesanal</div>
          <div class="col-1-4 nucleum-gray-2">Elaboración de crema de avellana</div>
          <div class="col-1-4 nucleum-gray-1">Cosméticos naturales</div>
          <div class="col-1-4 nucleum-gray-2">Pop!: Extrusión de Cereal</div>
  			</div>
  			<div class="row">
  				<div class="col-1-5 nucleum-gray-3">Producción de nylon</div>
  				<div class="col-1-5 nucleum-gray-2">Gastronomía Molecular</div>
  				<div class="col-1-5 nucleum-gray-1">Culinology</div>
				  <div class="col-1-5 nucleum-gray-2">Elaboración de Licor de Crema</div>
  				<div class="col-1-5 nucleum-gray-3">Sistemas Hidropónicos</div>
  			</div>
  			<div class="row">
  				<div class="col-1-4 nucleum-gray-2">Bioimpresión de Órganos: Alcances y Realidades</div>
  				<div class="col-1-4 nucleum-gray-1">Química forense</div>
  				<div class="col-1-4 nucleum-gray-2">Extracción de un Biocatalizador</div>
				  <div class="col-1-4 nucleum-gray-3">Herramientas Bioinformáticas para el análisis de proteínas</div>
  			</div>
  		</div> -->

  	</div>
  </div>
</div>