<!-- Trigger/Open The Modal -->


<div class="row" id="block3">
  <div class='col-1-1'>
  	<div class="container">
  		<div class="workshops-header-container">
  			<div class="container-fluid nucleum-blue-3">
				<h3 class="text-center">Talleres</h3>
			</div>
  		</div>

      <div class="workshops-content-container text-center">

        <table>
          <tr> 
            <td class="nucleum-gray-3 open-workshops-modal">Producción de cerveza artesanal</td>
            <td class="nucleum-gray-2 open-workshops-modal">Elaboración de crema de avellana</td>
            <td class="nucleum-gray-1 open-workshops-modal">Cosméticos naturales</td>
            <td class="nucleum-gray-2 open-workshops-modal">Pop!: Extrusión de Cereal</td>
          </tr>
        </table>


        <table>
          <tr>
            <td class="nucleum-gray-3 open-workshops-modal">Producción de nylon</td>
            <td class="nucleum-gray-2 open-workshops-modal">Gastronomía Molecular</td>
            <td class="nucleum-gray-1 open-workshops-modal">Culinology</td>
            <td class="nucleum-gray-2 open-workshops-modal">Elaboración de Licor de Crema</td>
            <td class="nucleum-gray-3 open-workshops-modal">Sistemas Hidropónicos</td>
          </tr>
        </table>

        <table>
          <tr>
            <td class="nucleum-gray-2 open-workshops-modal">Bioimpresión de Órganos: Alcances y Realidades</td>
            <td class="nucleum-gray-1 open-workshops-modal">Química forense</td>
            <td class="nucleum-gray-2 open-workshops-modal">Extracción de un Biocatalizador</td>
            <td class="nucleum-gray-3 open-workshops-modal">Herramientas Bioinformáticas para el análisis de proteínas</td>
          </tr>
        </table>

      </div>

<!-- The Modal -->
<div id="workshops-modal" class="modal">

  <!-- Modal content -->
  <div class="modal-content-container container">
    <% include ../workshops/modal-Workshops %>
  </div>

</div>

  	</div>
  </div>
</div>