<!-- Trigger/Open The Modal -->


<div class="row nucleum-orange-3" id="block2">

	<div class="col-1-1">
		<div class="container">
			<div class="row">

				<div class="col-1-2">
					<div class="panelists-img-container">
						<img class="img-responsive" src="/images/panelists-img.jpg">
					</div>
				</div>

				<div class="col-1-2" id="change-width">
					<div class="panelists-header-container">
						<div class="container-fluid nucleum-blue-3">
							<h3 class="text-center">Conferencias</h3>
						</div>
					</div>

<!-- Trigger/Open The Modal -->
<button id="myBtn">Open Modal</button>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <% include ../panelists/block0-Panelists %>
  </div>

  


</div>






					<a href="/panelists">
						<div class="panelists-content-container">
							<div class="row text-center">
								<div class="col-1-2 nucleum-gray-1" style="display: block; height: 33.333333%">
									<h3>Panelist 1</h3>
									<p>Lorem Ipsum is simply dummy text typesetting industry. Lorem Ipsum has been the industry's standard</p>
								</div>
								<div class="col-1-2 nucleum-gray-2" style="display: block; height: 33.333333%">
									<h3>Panelist 2</h3>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
								</div>
								<div class="col-1-2 nucleum-gray-2" style="display: block; height: 33.333333%">
									<h3>Panelist 3</h3>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
								</div>
								<div class="col-1-2 nucleum-gray-3" style="display: block; height: 33.333333%">
									<h3>Panelist 4</h3>
									<p>Lorem printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
								</div>
								<div class="col-1-1 nucleum-gray-1" style="display: block; height: 33.333333%">
									<h3>Panelist 5</h3>
									<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard</p>
								</div>
							</div>
						</div>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>