<div class="row" id="block4" >
  <div class='col-1-1'>
    <div class="jumbotron nucleum-gray-3">
        
      <div class="container">
        <div class="row">

          <div class="col-1-2">
            <div class="contact-header-container">

              
              <div class="container-fluid nucleum-blue-3">
                <h3 class="text-center">Contáctanos</h3>
              </div>





            </div>

              <div class="contact-form-container">
                <div class="row text-center">
                  <form>
                    <input type="text" name="name" placeholder="Nombre">
                    <input type="text" name="email" placeholder="Correo electrónico">
                    <input type="text" name="firm" placeholder="Empresa/Institución educativa">
                    <button type="submit">Enviar</button>
                  </form>
                </div>
              </div>

          </div>

          <div class="col-1-2">
            <div class="contact-msg-container">
                  <textarea placeholder=" Escribe tu mensaje!"></textarea>
            </div>
          </div>

        </div>
      </div>





    </div> <!-- .jumbotron -->
  </div>
</div>