<div class="row" id="block1" >
	<div class='col-1-1'>
		<div class="jumbotron nucleum-dark">
				<div class="container about-text-container">
					<h2>Congreso Nucleum 2018</h2>
					<hr>
					<p>
						Ven y vive con nosotros uno de los congresos más exitosos y relevantes del Tec de Monterrey. Organizado por un equipo multidisciplinario de estudiantes, Nucleum se enfoca principalmente en las áreas de biotecnología, nanotecnología e industrias alimentarias. Nuestra oferta de conferencias, talleres y visitas a empresas se destacan por su contenido actual ofrecido por las mentes más innovadoras de la industria.
					</p>
					<br>
					<p>7, 8 y 9 de Marzo | Centro estudiantil</p>
				</div>				
		</div> <!-- .jumbotron -->
	</div>
</div>