<div class="row" id="block1" >
	<div class='col-1-1'>
		<div class="jumbotron nucleum-gray-3">
				<div class="container about-text-container">
					<h2>Congreso Nucleum 2018</h2>
					<hr>
					<p>
						Ven y vive con nosotros uno de los congresos más exitosos y relevantes del Tec de Monterrey. Organizado por un equipo multidisciplinario de estudiantes, Nucleum se enfoca principalmente en las áreas de biotecnología, nanotecnología, industrias alimentarias y ciencias químicas. Nuestra oferta de conferencias, talleres y visitas a empresas se destacan por su contenido actual ofrecido por las mentes más innovadoras en la industria.
					</p>
<!--						<p>
						El Congreso Nucleum es organizado por un equipo multidisciplinario de estudiantes del Instituto Tecnológico y de Estudios Superiores de Monterrey, campus Monterrey. Enfocándonos principalmente en las áreas de biotecnología, nanotecnología, industrias alimentarias y ciencias químicas, ofrecemos contenido relevante y actual para los participantes a través de talleres, conferencias y visitas a empresas.
					</p> -->
<!-- 							<p>
						Más allá del valor curricular, el congreso Nucleum es conocido por las competencias y contactos adquiridos durante la participación en diversos talleres que ponemos a disposición del público. Además de esto, reconocemos la importancia del networking, por lo que brindamos espacios específicamente dispuestos para favorecer la interacción con los diversos investigadores nacionales e internacionales que, año tras año, hacen de Nucleum uno de los congresos más exitosos y relevantes del Tec de Monterrey.
					</p> -->
<!-- 					<p>
						Misión. Promover la ciencia y la tecnología en México como herramientas para la solución de problemas.
					</p>
					<p>
						Visión. Ser una plataforma donde estudiantes puedan aprender y aplicar conocimientos para vincularse en el ámbito profesional y académico.
					</p> -->			
				</div>				
		</div> <!-- .jumbotron -->
	</div>
</div>