<div class="row" id="block4" >
  <div class='col-1-1'>
    <div class="jumbotron nucleum-gray-3">
        
      <div class="container">
        <div class="row">

                <form action="https://formspree.io/gerarddo1234@gmail.com" method="POST">

                      <div class="col-1-2" id="contact-hdr-change-width">
                        <div class="contact-header-container">
                          <div class="container-fluid nucleum-blue-3">
                            <h3 class="text-center">Contáctanos</h3>
                          </div>
                        </div>
                        <div class="contact-form-container">
                          <div class="row text-center">
                            <input type="text" name="name" placeholder=" Nombre" required>
                            <input type="email" name="_replyto" placeholder=" Correo electrónico" required>
                            <input type="text" name="firm" placeholder=" Empresa/Institución educativa" required>
                          </div>
                        </div>
                      </div> <!-- .col-1-2 -->

                      <div class="col-1-2" id="contact-msg-change-width">
                        <div class="contact-msg-container">
                              <textarea placeholder=" Escribe tu mensaje!" required></textarea>
                        </div>
                      </div> <!-- .col-1-2 -->

                      <div class="col-1-1">
                        <button type="submit" id="contact-send-btn">Enviar</button>
                      </div>

                </form>

        </div> <!-- .row -->
      </div> <!-- .container -->
    </div> <!-- .jumbotron .nucleum-gray-3-->
  </div>
</div>


<!-- 
  <form action="https://formspree.io/your@email.com" method="POST">
    <input type="text" name="name">
    <input type="email" name="_replyto">
    <input type="submit" value="Send">
  </form> 
-->