<% include ../partials/header %>
<% include ../partials/navbar %>


<div class="container-body" >
	<% include block0-Logo %>
	<% include block1-About %>
	<% include block2-Panelists %>
	<% include block3-Workshops %>
	<% include block3-Visits %>
  	<% include block4-Contact %>
  	<% include block5-GoogleMaps %>
  	<% include block6-Footer %>



  	
</div>
	
    <!--https://developers.google.com/maps/documentation/javascript/places#place_details_responses-->

<% include ../partials/footer %>

