<!DOCTYPE html>
<html >
<head>
	<title>Congreso Nucleum 2018</title>
	<!-- For displaying mexican accents and shit -->	
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta charset="utf-8" />
		<!-- <link rel="shortcut icon" type="image/png" href="images/NucleumLogo.png"> -->
		<link rel="shortcut icon" type="image/png" href="images/nucleum-icon-orange.png">
	<!-- Fonts and icons -->
		<!-- <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />  -->
		<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">


		<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<!-- Stylesheets -->
		<link rel="stylesheet" type="text/css" href="/stylesheets/basic-theme.css">
		<link rel="stylesheet" type="text/css" href="/stylesheets/responsive-grid.css">

		<link rel="stylesheet" type="text/css" href="/stylesheets/homepage/modals.css">
		<link rel="stylesheet" href="/stylesheets/main.css">
		<link rel="stylesheet" href="/stylesheets/homepage/homepage-test.css">
		<link rel="stylesheet" href="/stylesheets/homepage/panelists.css">
		<link rel="stylesheet" href="/stylesheets/homepage/slideshow.css">
		<link rel="stylesheet" href="/stylesheets/homepage/business.css">
		<link rel="stylesheet" href="/stylesheets/homepage/workshops.css">
		<link rel="stylesheet" href="/stylesheets/homepage/visits.css">
		<link rel="stylesheet" href="/stylesheets/nucleum-colors.css">
	<!-- Slick Slider -->		
		<!-- <link rel="stylesheet" type="text/css" href="slick/slick.css"/> -->
</head>
<body >


<% include ../partials/navbar %>


<div class="container-body" >
	<% include block0-Logo %>
	<% include block1-About %>
	<% include block2-Panelists %>
	<% include block3-Business %>
	<% include block3-Workshops %>
	<% include block3-Visits %>
  	<% include block4-Contact %>
  	<% include block5-GoogleMaps %>
  	<% include ../partials/footer-view %>  	
</div>
	
    <!--https://developers.google.com/maps/documentation/javascript/places#place_details_responses-->



			<!-- jQuery -->
		<script src="https://code.jquery.com/jquery-3.2.1.js"></script>
  		<!-- <script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script> -->
			<!-- Transit (http://ricostacruz.com/jquery.transit/#top) -->
<!-- 		<script type="text/javascript" src="http://ricostacruz.com/jquery.transit/jquery.transit.min.js"></script> -->
			<!-- Slick Slider -->
		<!-- <script type="text/javascript" src="slick/slick.min.js"></script> -->
			<!-- Custom Javascript file -->
		<script src="/scripts/basic-theme.js"></script>
		<script src="/scripts/slider.js"></script>
		<script src="/scripts/modals.js"></script>
		<!-- Scroll Reveal -->
		<!-- <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script> -->
		<!-- <script src="https://unpkg.com/scrollreveal@beta/dist/scrollreveal.min.js"></script> -->



	</body>
</html>