<div id="main-slider">
	<div class="slider-wrapper">

		<% panelists.forEach((panelist) => { %>
			<img src=" <%= panelist.image %> " class="slide" />
		<% }) %>

<!-- 		<img src=" <%= panelists%> " class="slide" />
		<img src="images/panelists/slideshow/tamez.jpg" class="slide" /> -->
<!-- 		<img src="images/panelists/slideshow/slideshow-2.jpg" class="slide" />
		<img src="images/panelists/slideshow/slideshow-3.jpg" class="slide" />
		<img src="images/panelists/slideshow/slideshow-4.jpg" class="slide" /> -->
	</div>
</div>	


<!-- <img id='imgT' src="top/00.jpg">
<ul id="ultop">
   <li><img src="top/00.jpg"></li>
     <li><img src="top/01.jpg"></li>
     <li><img src="top/02.jpg"></li>
     <li><img src="top/03.jpg"></li>
</ul> -->