<!-- <div id="main-slider">
	<div class="slider-wrapper">
		<img src="images/panelists/slideshow/slideshow-0.jpg" class="slide" />
		<img src="images/panelists/slideshow/slideshow-1.jpg" class="slide" />
		<img src="images/panelists/slideshow/slideshow-2.jpg" class="slide" />
		<img src="images/panelists/slideshow/slideshow-3.jpg" class="slide" />
		<img src="images/panelists/slideshow/slideshow-4.jpg" class="slide" />
	</div>
</div>	 -->