<div id="main-slider">
	<div class="slider-wrapper">
		<% panelists.forEach((panelist) => { %>
		<%     if(panelist.image !== "/images/panelists/conference-test.png"){ %>
				  <img src=" <%= panelist.image %> " class="slide" />
		<%     }%>
		<% }) %>
	</div>
</div>	
