html {
	background-color: black;
}

.schedules-content-container {

}

.schedules-content-container img{
	margin-bottom: 20px;
}

.schedules-header-container {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;

	margin-top: 20px;
	margin-bottom: 20px;

	color: white;
}

